#img {
    margin-left: 520px;
    margin-top: 40px;
}

#txt {
    width:550px;
    height: 40px;
    margin-left: 390px;
    margin-top: -25px;
    border-radius: 15px;
    border: 2px #c4bed1 solid;
}

#btn1 {
    width:130px;
    height: 35px;
    margin-left: 510px;
    margin-top: 20px;
    border-radius: 05px;
    border: 2px #c4bed1 solid;
}

#btn2 {
    width:130px;
    height: 35px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 05px;
    border: 2px #c4bed1 solid;
}